<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Astolto {{ page.title }}</title>
		<link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
	</head>
	<body>
		<nav>
			<a href="/">Home</a>
		</nav>
		<main>
			<div>{% include sidebar.html %}</div>
			<div>{{ content }}</div>
		</main>
		<footer>
			<a href="{{ site.url }}">Home</a>
			<a href="{{ site.repository }}">Repository</a>
		</footer>
	</body>
</html>
